$teal-green: #167d7f;
$forest-green: #10564f;
$spear-mint: #b6e2d3;

@import './reset.css';
@import './navbar.scss';
@import './font.scss';
@import './personal-info.scss';
@import './projects.scss';
@import './contact.scss';


html {
  font-family: Noto Sans TC, Microsoft Jhenghei;
}