.contact {
  .large-font {
    padding-bottom: 0 !important;
    font-size: 1.5rem !important;
  }
  .introduction {
    display: flex;
    gap: 2rem;
    line-height: 3rem;
    li {
      list-style-type: none;
    }
    ul {
      padding: 0;
    }
  }

  .contact-resource {
    grid-area: resource;
    font-weight: bold;
  }

  .contact-info {
    grid-area: info;
    a {
      text-decoration: none;
      color: $forest-green;
    }
    a:hover {
      color: $teal-green;
    }
  }
}
