@import './project-item-text.scss';
@import './project-item-image.scss';

.project-item {
  display: flex;
  gap: 5rem;
  width: 100rem;

}

@media (max-width: 100rem) {
  .project-item {
    width: 80rem;
  }
}

@media (max-width: 80rem) {
  .project-item {
    width: 60rem;
  }
}

@media (max-width: 60rem) {
  .project-item {
    width: 40rem;
  }
}